
body{
    background-color: grey;
}

.container{
    width: 100%;
    height:700px;
    margin: auto;
    text-align: center;
}

#picture{
    text-align: center;
}

#menu {
    width: 100%;
    height: 100px;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding: 4px;
}

#menu ul li a{
    font-family: Arial;
    font-size: 15px;
    color: black;
    text-decoration:none;
    text-align: center;
}

#menu ul li a:hover{
    background-color: rgb(213, 214, 214);
    padding: 4px;
    color:black;
}

#menu ul li button:hover{
    color:black;
    
}

#menu ul li button{
    padding: 7px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color:black;
}

#but{
    text-align: center;
}

footer{
    width: 100%;
    height: 40px;
    color: black;
    text-align: center;
    line-height: 50px;
}

.card{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(156, 156, 156);
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    height: 210px;
    width: 300px;
    text-align: center;
}

#image{
    width: 500px;
    height: 300px;
}

#indextext{
    font-size:larger;
}

#button-quiz{
    padding: 7px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    width: 450px;
    text-align: center;
}


